[req]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[dn]
C=DE
ST=Baden-Wuerttemberg
L=Heilbronn
O=42School
OU=IT
CN=aalatzas.42.fr

[req_ext]
subjectAltName = @alt_names
basicConstraints = CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment

[alt_names]
DNS.1 = aalatzas.42.fr
DNS.2 = www.aalatzas.42.fr
