RUN echo '[mysqld]\n\
skip-host-cache\n\
skip-name-resolve\n\
bind-address=0.0.0.0\n\
port=3306\n\
user=mysql\n\
socket=/var/run/mysqld/mysqld.sock\n\
pid-file=/var/run/mysqld/mysqld.pid\n\
character-set-server=utf8mb4\n\
collation-server=utf8mb4_general_ci' > /etc/mysql/conf.d/docker.cnf